body {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  /* font-size: 1.5vw;  */
}

a:hover {
  text-decoration: none;
}

.bg-grey {
  background-color: #F8F9FA;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
}

.pd-1 {
  padding: 1vw;
}

.margin-2 {
  margin: 2vw;
}

.font-title {
  font-family: 'Playfair Display', Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
}

.fz-5 {
  font-size: 5vw;
}

.fz-3 {
  font-size: 2.5vw;
}

.fz-2 {
  font-size: 2vw;
}

/* navbar */
.navbar-default {
  transition: 500ms ease;
  background: transparent;
}

.navbar-default.scrolled,
.navbar-bg {
  background: #02c39a;
}

.navbar-brand>img {
  width: 50px;
  height: 60px;
}

.navbar {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
}

.navbar-toggler {
  font-size: 1vw;
}

.navbar-toggler-icon {
  width: 3vw;
  height: 3vw;
}

.show:before {
  background: #02c39a;
  opacity: 0.9;
  filter: alpha(opacity=76);
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.navbar-brand img {
  margin-right: 1rem;
}

.active a,
.nav-item a:hover {
  border-bottom: solid 2px white;
}

.nav-item {
  margin-right: 8px;
}

/* navbar */
/* Style the video: 100% width and height to cover the entire window */
#myVideo {
  width: 100%;
  height: 100%;
}

.carousel-caption {
  bottom: 25%;
}

.carousel-indicators {
  bottom: 18%;
}

.carousel-indicators li {
  width: 4vw;
  height: 0.6vw;
}

.welcome {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  text-align: center;
  color: white;
}

/* layanan */
.circle-icons {
  height: 10rem;
  width: 10rem;
  margin: auto;
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.3);
}

.layanan-icon {
  padding: 1.5rem;
  /* font-size: 3vw; */
  color: white;
}

.layanan-card a {
  text-decoration: none;
}

.layanan-card a:hover .circle-icons {
  transform: scale(1.1);
  transition: 0.8s;
  box-shadow: 0px 0px 30px 1px rgba(2, 195, 154, 1);
  background: #02C39A !important;
}

/* layanan */
.title {
  margin-bottom: 2rem;
  font-size: 2rem;
}

.title-pages {
  font-size: 1.8rem;
}

/* sambutan */
.font-sambung {
  font-family: 'Dancing Script', cursive, Georgia, 'Times New Roman', Times, serif;
}

.sambutan p {
  font-size: 1.5rem;
}

/* sambutan */
.overlap {
  position: relative;
  margin-top: -10vw;
}

.nav-layanan {
  /* background-color: #212529; */
  padding: 2vw;
  width: 70%;
}

/* galery */
.galery img {
  width: 100%;
  height: 100%;
}

.galery {
  margin: auto;
  padding: 2vw 0 4vw 0;
  background-color: #F8F9FA;
}

.galery .gallery-item {
  position: relative;
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(0, 0, 0);
  /* Fallback color */
  background: rgba(0, 0, 0, 0.5);
  /* Black background with 0.5 opacity */
  color: #f1f1f1;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: .5s ease;
}

.middle:hover {
  opacity: 1;
  font-weight: bold;
  font-size: 1.4rem;
}

.main1 .centered,
.main2 .centered {
  margin-top: 11rem;
}

.centered {
  margin-top: 5rem;
}

.galery-box-text {
  padding: 2rem;
}

.galery-box-img {
  /* box-shadow:0 .125rem .25rem rgba(0,0,0,.075)!important */
  box-shadow: 5px 5px 10px 1px #888888;
  padding: 0;
  overflow: hidden;
}

.galery-box-img img:hover {
  transform: scale(1.25) rotate(10deg);
  transition: 0.5s;
  /* transform: rotate(10deg); */
}

.galery-title a,
.pg-berita-terkini a {
  text-decoration: none;
}

.galery-title a:hover {
  font-weight: bold;
}

/* galery */
.date {
  font-size: 0.9rem;
  color: #6C757D;
}

footer {
  background-color: #343A40;
  padding: 3vw;
  /* font-size: 1; */
  margin: auto;
}

.footer-brand {
  font-size: 3vw;
}

.footer-icon a {
  font-size: 1.8rem;
  color: white;
}

.footer-icon a:hover {
  color: #ffc107;
}

.footer-layanan-masyarakat a {
  color: white;
}

/* page berita */
.section-pg-berita {
  margin: 1rem 0;
  padding: 1rem;
}

.bg-pg-berita {
  background-color: #495057;
}

.box-img-pages {
  padding-bottom: 1vw;
}

.box-img-pages img {
  width: 100%;
  height: 100%;
}

.img-pg-berita-terkini img {
  width: 100%;
  height: 100%;
}

.pg-berita-sub-title {
  font-weight: bold;
  margin: 0;
  color: #ffc107;
}

.berita-terkini {
  margin-bottom: 2rem;
}

/* end page berita */
.border-bt {
  border-bottom: solid 3px #f5f5f5;
  margin-bottom: 2vw;
}

.border-bt-2 {
  border-bottom: solid 3px #ffc107;
}

/* berita */
.pg-headline {
  padding-right: 2rem;
}

.headline a:hover {
  color: red;
}

.side-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-left: 2rem;
}

.side-bar img {
  height: 9rem;
  width: 9rem;
}

.headline {
  height: 33rem;
  overflow: hidden;
}

.headline img {
  /* height: 23rem; */
  width: 1000px;
  height: 400px;
}

.side-bar-news {
  height: 9rem;
  margin-bottom: 15px;
  overflow: hidden;
}

/* end berita */
.img-raised {
  box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.3);
}

.gallery-grid .main1 {
  grid-row: 2/span 2;
  grid-column: 1/span 2;
}

.gallery-grid .main2 {
  grid-row: 1/span 2;
  grid-column: 3/span 2;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  column-gap: 50px;
  row-gap: 30px;
  justify-self: center;
}

.gallery-item img {
  width: 80%;
}

.galery .gallery-item:hover {
  box-shadow: 0px 10px 35px 0px rgba(0, 0, 0, 0.5);

}

.galery .gallery-item img {
  width: 100%;
}

.galery .gallery-grid {
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  column-gap: 10px;
  row-gap: 10px;
}

.overlay {
  top: 0;
  left: 0;
  z-index: 99999;
  position: fixed;
  width: 0;
  height: 0;
  overflow: hidden;
}

.overlay:target {
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  width: auto;
  height: auto;
  padding: 6rem;
  transition: 0s;
}

.overlay .close {
  position: absolute;
  top: 30px;
  left: 50%;
  color: #fcfcfc;
  border: solid 1px white;
  padding: 1rem;
}

.overlay:target img,
.overlay:target .close {
  animation: zoomNfade 0.8s;
}

/* page sub berita */
.img-sub-berita img {
  width: 60%;
}

.page-sub-berita {
  width: 70%;
  margin: auto;
}

.berita-lainnya {
  padding: 10px;
}

.bl-item-wrap {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  column-gap: 30px;
  row-gap: 30px;
  margin: 20px;
}

.bl-item img {
  width: 100%;
  height: 5rem;
}

.bl-item a {
  text-decoration: none;
  color: black;
}

/* end sub berita */

/* profile */
.profil .row {
  padding: 1rem;
}

.statistik {
  margin: 20px;
}

.sejarah img {
  margin: auto;
  width: 50%;
  margin: 1rem;
}

/* end profile */
/* key frame */
@keyframes zoomNfade {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* end key frame */
/* media quaries */


/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {}

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .navbar-brand img {
    width: 25px;
    height: 30px;
  }

  .welcome>h2,
  h3 {
    font-size: 1.5rem;
  }

  .welcome {
    margin-top: 40px;
  }

  .nav-layanan {
    width: auto;
    padding: 20px;
  }

  span {
    font-size: 1.2rem;
  }

  .sambutan span {
    font-size: 1.5rem !important;
  }

  .sambutan {
    padding: 2rem;
  }

  .circle-icons {
    width: 6rem;
    height: 7rem;
    font-size: 0.7rem;
  }

  .headline {
    height: 35rem;
  }

  .side-bar-news {
    height: 10rem;
  }

  .side-bar img,
  .headline img {
    width: 100%;

  }

  .side-bar {
    padding: 15px;
  }

  .date {
    font-size: 0.7rem;
  }

  .galery-box {
    box-shadow: 5px 5px 10px 1px #888888;
  }

  .title {
    margin-bottom: 1rem;
  }

  .gallery-grid .main1 {
    grid-row: auto;
    grid-column: auto;
  }

  .gallery-grid .main2 {
    grid-row: auto;
    grid-column: auto;
  }

  .galery .gallery-grid {
    grid-template-columns: 1 fr;
    padding: 20px;
  }

  /* galery home */
  .middle {
    position: absolute;
    top: 80%;
    bottom: 0;
    background: rgb(0, 0, 0);
    /* Fallback color */
    background: rgba(0, 0, 0, 0.7);
    /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 100%;
    height: auto;
    opacity: 1;
  }

  .middle:hover {
    font-weight: bold;
    font-size: 1.4rem;
  }

  .main1 .centered,
  .main2 .centered {
    margin-top: 0;
  }

  .centered {
    margin-top: 0;
  }

  h4,
  h5 {
    font-size: 1rem;
  }

  .overlay img {
    width: 100%;
  }

  .overlay:target {
    padding: 13rem 1rem 0 1rem;
  }

  .overlay .close {
    left: 45%;
    top: 24%;
    font-size: 0.8rem;
    padding: 0.8rem;
  }

  .pg-headline {
    padding-right: 1rem;
  }
}

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {}

/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .navbar-brand img {
    width: 25px;
    height: 30px;
  }

  .welcome>h2,
  h3 {
    font-size: 0.7rem;
  }

  .welcome {
    margin-top: 40px;
  }

  .nav-layanan {
    width: auto;
    padding: 20px;
  }

  span {
    font-size: 1.2rem;
  }

  .sambutan span {
    font-size: 1.5rem !important;
  }

  .sambutan {
    padding: 2rem;
  }

  .circle-icons {
    width: 6rem;
    height: 7rem;
    font-size: 0.7rem;
  }

  .side-bar-news,
  .headline {
    height: 25rem;
  }

  .side-bar img,
  .headline img {
    width: 100%;
    height: 100%;
  }

  .side-bar {
    padding: 15px;
  }

  .date {
    font-size: 0.7rem;
  }

  .galery-box {
    box-shadow: 5px 5px 10px 1px #888888;
  }

  .title {
    margin-bottom: 1rem;
  }

  .gallery-grid .main1 {
    grid-row: auto;
    grid-column: auto;
  }

  .gallery-grid .main2 {
    grid-row: auto;
    grid-column: auto;
  }

  .galery .gallery-grid {
    grid-template-columns: 1 fr;
    padding: 20px;
  }

  /* galery home */
  .middle {
    position: absolute;
    top: 80%;
    bottom: 0;
    background: rgb(0, 0, 0);
    /* Fallback color */
    background: rgba(0, 0, 0, 0.7);
    /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 100%;
    height: auto;
    opacity: 1;
  }

  .middle:hover {
    font-weight: bold;
    font-size: 1.4rem;
  }

  .main1 .centered,
  .main2 .centered {
    margin-top: 0;
  }

  .centered {
    margin-top: 0;
  }

  h4,
  h5 {
    font-size: 1rem;
  }

  .overlay img {
    width: 100%;
  }

  .overlay:target {
    padding: 13rem 1rem 0 1rem;
  }

  .overlay .close {
    left: 45%;
    top: 24%;
    font-size: 0.8rem;
    padding: 0.8rem;
  }

  .pg-headline {
    padding-right: 1rem;
  }
}


/* // Extra large devices (large desktops) */
/* // No media query since the extra-large breakpoint has no upper bound on its width */
/* end media quaries */